<div class='container content'>
  <div class="jumbotron">
    <h1>Eat my Burger!</h1>
    <p></p>
  </div>

  <!-- Main burger content section -->
  <section>
    <div class='row '>
      <div class="col-lg-4">
        <div id='burgersOnDeck'>
          {{#each burgers}}
          <div id='burgerRow'>
            <div class="burgerContainer col-lg-12">
              <p>{{id}}. {{burger_name}}</p>
              <button type='submit' class='btn btn-md btn-primary '> Devour it!</button>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
      <!-- Devoured burger section -->
      <div class="col-lg-4">

      </div>
    </div>
    <div id='burgerSubmit' class='row'>
      <div class="col-lg-4 col-lg-offset-4">
        <form class="form-group">
          <label for=""></label>
          <input type="text" class="form-control" id="" placeholder="">
          <button type="submit" class="btn btn-default"> Submit</button>
        </form>
      </div>


    </div>
  </section>
</div>
